{%- import "generator_macros.j2" as macros with context -%}
class {{ exercise | camel_case }}Test(unittest.TestCase):
    {% for case in cases %}
    {%- set input = case["cases"] -%}
    def test_{{ case["cases"][0]["description"] | to_snake }}(self):

    {% endfor %}
