{%- import "generator_macros.j2" as macros with context -%}
{% macro test_case(case) -%}
    def test_{{ case["description"] | to_snake }}(self):
{%- endmacro %}
{{ macros.header()}}

class {{ exercise | camel_case }}Test(unittest.TestCase):
    {% for case2 in cases %} {% for case in case2["cases"] %}
        {{ test_case(case) }} 
    {% endfor %} {% endfor %}